@model IEnumerable<fiddle_digital.ViewModels.ProjectVM>

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>

@if (Model != null && Model.Count() != 0)
{
    foreach (var item in Model)
    {
        <hr class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-3">
                <strong>
                    @Html.DisplayNameFor(model => model.BannerPhotoPath)
                </strong>
                <img src="@Html.DisplayFor(modelItem => item.BannerPhotoPath)" alt="fiddle_digital" class="img-thumbnail" style="width:300px; height: 300px; background-position: 50% 50%;object-fit: contain;" />
            </div>
            <div class="col-md-9">
                <div class="col-md-12" style="margin: 10px 0 10px 0">
                    <div class="col-md-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.Title):
                        </strong>
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                </div>
                <div class="col-md-12" style="margin: 10px 0 10px 0">
                    <div class="col-md-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.Description):
                        </strong>
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </div>
                <div class="col-md-12" style="margin: 10px 0 10px 0">
                    <div class="col-md-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.ProjectLink):
                        </strong>
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(modelItem => item.ProjectLink)
                    </div>
                </div>
                <div class="col-md-12" style="margin: 10px 0 10px 0">
                    <div class="col-md-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.ProjectLinkTitle):
                        </strong>
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(modelItem => item.ProjectLinkTitle)
                    </div>
                </div>
                <div class="col-md-12" style="margin: 10px 0 10px 0">
                    <div class="col-md-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.VideoLink):
                        </strong>
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(modelItem => item.VideoLink)
                    </div>
                </div>
                <div class="col-md-12" style="margin: 10px 0 10px 0">
                    <div class="col-md-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.BehanceLink):
                        </strong>
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(modelItem => item.BehanceLink)
                    </div>
                </div>
                <div class="col-md-12" style="margin: 10px 0 10px 0">
                    <div class="col-md-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.ReleaseYear):
                        </strong>
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(modelItem => item.ReleaseYear)
                    </div>
                </div>

                <div class="col-md-12" style="margin: 10px 0 10px 0">
                    <div class="col-md-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.IsDisabled):
                        </strong>
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(modelItem => item.IsDisabled)
                    </div>
                </div>
                <div class="col-md-12" style="margin: 10px 0 10px 0">
                    <div class="col-md-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.CreatedOn):
                        </strong>
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </div>
                </div>

                <div class="col-md-12" style="margin: 10px 0 10px 0">
                    <div class="col-md-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.SOrder):
                        </strong>
                    </div>
                    @if (item.SOrder != null)
                    {
                        <div class="col-md-9">
                            @Html.DisplayFor(modelItem => item.SOrder)
                        </div>
                    }
                    else
                    {
                        <div class="col-md-9">
                            <span>
                                None
                            </span>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-3">
                <strong>
                    @Html.DisplayNameFor(model => model.PreviewPhotoPath)
                </strong>
                <img src="@Html.DisplayFor(modelItem => item.PreviewPhotoPath)" alt="fiddle_digital" class="img-thumbnail" style="width:300px; height: 300px; background-position: 50% 50%;object-fit: contain;" />
                <div class="col-md-12" style="margin: 10px 0 10px 0">
                    <div style="display: flex; position:relative; left:20%">
                        @Html.ActionLink("Edit", "Edit", new { item.Id }, new { @class = "btn btn-warning", @style = "margin: 5px 5px 5px 5px" })
                        <a id="@item.Id" class="btn btn-danger delete-prompt" style="margin: 5px 5px 5px 5px" href="/admin/@StringHelpers.CutController(nameof(ProjectController))/@nameof(ProjectController.Delete)/">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="col-md-12">
    }
}

@Modal.DeleteModal()
